<div class="container">
	<div class="row mt-5">
		<div class="col"></div>

		<div class="col-8">
			<div class="row">
				<h2>来店予約一覧</h2>
			</div>

			<div class="row mt-4">
				<div class="col">
					<div class="table-resposive">
						<table class="table table-bordered table-hover">
							<thead class="thead-light">
								<tr>
									<th>来店日</th>
									<th>時刻</th>
									<th>user名</th>
									<th>user/email</th>
								</tr>
							</thead>
							<% @bookings.each do |b| %>
								<tbody>
									<tr>
										<td>
											<%= b.datetime.strftime("%Y年%m月%d日") %>
										</td>
										<td>
											<%= b.datetime.strftime("%H時%M分") %>
										</td>
										<td>
											<%= b.user_name %>
										</td>
										<td>
											<%= b.user_email %>
										</td>
									</tr>
								</tbody>
							<% end %>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col"></div>
	</div>
</div>