<div class="container">
	<div class="row mt-5">
		<div class="col"></div>

		<div class="col-8">
			<div class="row">
				<h2>取り置き商品一覧</h2>
			</div>

			<div class="row mt-4">
				<div class="col">
					<div class="table-resposive">
						<table class="table table-bordered table-hover">
							<thead class="thead-light">
								<tr>
									<th>取り置き日</th>
									<th>商品名</th>
									<th>user名</th>
									<th>user/email</th>
								</tr>
							</thead>
							<% @reservations.each do |r| %>
								<tbody>
									<tr>
										<td>
											<%= r.created_at.strftime("%Y年%m月%d日") %>
										</td>
										<td>
											<%= r.title %>
										</td>
										<td>
											<%= r.user_name %>
										</td>
										<td>
											<%= r.user_email %>
										</td>
									</tr>
								</tbody>
							<% end %>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col"></div>
	</div>
</div>