<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-7">
			<div class="about-title mt-5 text-center">
				<h3>古着ユーザーの新しい生活様式</h3>
				<h1>YOUSEID!</h1>
			</div>
		</div>
		<div class="col"></div>
	</div>
	<div class="row mt-3">
		<div class="col"></div>
		<div class="col-8">
			<div class="row">
				<div class="col-5 theme-box">
					<h5>テーマ背景</h5>
					<p>
						新型コロナウイルスの流行に伴う、<br>
						緊急事態宣言発令によって<br>
						多くの実店舗が営業を自粛することとなった。<br>
						そのような中、多くの古着屋が各店舗ごとにオンラインサイトの立ち上げを行った。<br>
						しかし、それぞれの街でそれぞれの特色がある古着屋業界にとって<br>
						バラバラになっている現状では、<br>
						店舗側は今までの顧客のみがが主なターゲットになり、新規客獲得が難しく、<br>
						利用者側にとっても、新しい店舗を見つけることが手間になることが、現状の問題点として挙げられる。<br>
						このような背景から、バラバラになっている古着屋を一つのSNSに集約し、<br>
						前向きに出歩けない現状でも、緊急事態宣言解除後を想定し、<br>
						商品の取り置きや、人が集まることを避ける、来店予約機能が必要ではないかと考えた。<br>
						古着好きの一人として、相互支援ができるようなアプリケーションを作りたく、本テーマを選びました。
					</p>
				</div>

				<div class="col-2"></div>

				<div class="col-5 howto-box">
					<h5>使い方</h5>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>