<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-7">
			<div class="about-title mt-5 text-center">
				<h3>古着ユーザーの新しい生活様式</h3>
				<h1>YOUSEID!</h1>
			</div>
		</div>
		<div class="col"></div>
	</div>
	<div class="row mt-3 mb-5">
		<div class="col"></div>
		<div class="col-8">
			<div class="row">

				<%# cssにて編集 %>
				<div class="col-5 theme-box">
					<h5 class="mt-3">Background</h5>
					<p class="mt-3">
						新型コロナウイルスの流行に伴う、<br>
						緊急事態宣言発令によって<br>
						多くの店舗が営業を自粛しております。<br>
						そのような中、多くの古着屋が<br>
						各店舗ごとにオンラインサイトの<br>
						立ち上げを行いました。<br>
						<br>
						しかし、それぞれの街でそれぞれの<br>
						特色がある古着屋業界にとって、<br>
						まとまりのない現状では、<br>
						店舗側は今までの顧客のみが<br>
						主なターゲットになり、<br>
						新規客獲得が難しく、<br>
						利用者側にとっても、<br>
						新しい店舗を見つけることが<br>
						困難であることが、現状の問題点だと考えました。<br>
						<br>
						このような背景から、<br>
						バラバラになっている古着屋を<br>
						一つのSNSに集約し、<br>
						前向きに出歩けない現状を考慮し、<br>
						商品の取り置きや、<br>
						密を避けるために、来店予約機能が<br>
						必要ではないかと考えました。<br>
						古着好きの一人として、<br>
						新しい生活様式に向け、<br>
						また相互支援ができるような<br>
						アプリケーションを作りたく、<br>
						本テーマを選びました。
					</p>
				</div>

				<div class="col-2"></div>

				<%# cssにて編集 %>
				<div class="col-5 howto-box">
					<h5 class="mt-3">How To</h5>
					<h6 class="mt-3">User</h6>
					<p mt-3>
						topページから<br>
						新規登録、ログインができます。<br>
						新規登録後、マイページにて、<br>
						・登録内容の修正<br>
						・退会<br>
						ができます。<br>
						ログイン後、投稿一覧にて、<br>
						・いいねアクション<br>
						・shopnameクリック<br>
						・投稿画像クリック<br>
						ができ、店舗詳細ページからは、<br>
						・来店予約<br>
						・お問い合わせ<br>
						投稿詳細ページからは、<br>
						・コメント<br>
						・取り置き<br>
						ができます。
					</p>
					<h6>Shop</h6>
					<p class="mt-3">
						新規登録、ログインは
						Userと同様の為割愛させていただきます。<br>
						ログイン後、マイページにて<br>
						・登録情報編集<br>
						・新規投稿<br>
						・投稿編集<br>
						・各予約、お問い合わせの確認<br>
						ができます。
					</p>
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>