<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-10">
			<%# 退会メッセージ %>
			<div class="finish-message mt-5 text-center">
				<h1>本当に退会しますか？</h1>
				<br>
				<p>
					退会すると、会員登録情報や<br>
					これまでの履歴が閲覧できなくなります。<br>
					退会する場合は下記の退会するボタンをクリックしてください。
				</p>
			</div>

			<div class="btns text-center">
				<%# 退会せずに、マイページにリダイレクト %>
				<%= link_to "退会しない", "/user", class: "btn btn-primary" %>
				<%# 退会後、topページにリダイレクト %>
				<%= link_to "退会する", "/user", method: :put, class: "btn btn-danger" %>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>